# Python
__pycache__/
*.py[cod]
*.pyo

# Node
node_modules/

# Vite build
frontend/dist/

# Environment
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

backend/uploads/
backend/__pycache__/